@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional global styles */
button {
  @apply px-4 py-2 bg-green-500 text-white rounded-md transition duration-300 ease-in-out;
}

button:hover {
  @apply bg-green-600;
}

input[type='text'],
input[type='number'],
textarea {
  @apply px-4 py-2 border border-gray-300 rounded-lg; /* Using rounded-lg for consistency with Tailwind's borderRadius */
  width: 100%;
  box-sizing: border-box; /* Tailwind CSS automatically includes this */
}
