@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50; /* Green background */
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  cursor: pointer;
  background-color: #45a049; /* Darker green on hover */
}

input[type='text'],
input[type='number'],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box; /* Ensure padding and border are included in width */
}
